<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bank Manager Suite">
	<listeners>
		<listener class-name="ExtentManager.listners"></listener>
	</listeners>
  <test  name="Bank Manager Test">
    <classes>
      <class name="rough.testTest"/>
    </classes>
  </test> <!-- Bank Manager Test -->
</suite> <!-- Bank Manager Suite -->
